.mainheading{
     font-family: 'Montserrat', sans-serif;
     position: relative;
     top: 150px;   
}
/*font-family: 'Hind', sans-serif;*/
.words a{
     color: #fff;
     font-family: 'Montserrat', sans-serif;
     font-size: 30px;
}
.brandname{
     font-size: 30px;
     color: white;
}
body, html{
     height: 100%;
     color: #fff;
}
body{
     background: url(svg/gradbg.svg) no-repeat;
     background-size: cover;
     padding-bottom: 500px;
}